<div class="w-[1440px] h-[1024px] relative bg-white" >
  <div class="w-[1440px] h-[99px] left-0 top-0 absolute justify-center items-start gap-[379px] inline-flex" style="background-image: url('assets/baner.PNG');">
  <div class="w-[485px] h-[99px] relative"></div>
  <div class="grow shrink basis-0 self-stretch pl-[49px] pr-[50px] pt-[30px] pb-7 justify-center items-center inline-flex">
  <div class="w-[477px] h-[41px] text-black text-xl font-normal font-['Inter']"> Inicio   La Institución   Recursos   Espiritual</div>
  </div>
  </div>
  <div class="w-[1440px] h-[553px] left-[11px] top-[99px] absolute" style="background-image: url('assets/Captura.PNG');">
  <button class="w-[550px] h-16 left-[445px] top-[174px] absolute text-white text-[55px] font-semibold font-['Inter']">Bienvenido a la UEBI</button>
  <button class="w-[236px] h-[43px] left-[353px] top-[314px] absolute bg-cyan-900 rounded-[5px]">E-learning</button>
  <button class="w-[236px] h-[43px] left-[602px] top-[314px] absolute bg-cyan-900 rounded-[5px]">Sistema Acanemico</button>
  <button class="w-[236px] h-[43px] left-[1111px] top-[314px] absolute bg-cyan-900 rounded-[5px]">Admisiones</button>
  <button class="w-[236px] h-[43px] left-[854px] top-[314px] absolute bg-cyan-900 rounded-[5px]">Bilingue online</button>
  <button class="w-[236px] h-[43px] left-[104px] top-[314px] absolute bg-cyan-900 rounded-[5px]">Regreso a clases</button>
  <button class="w-[180px] h-[43px] left-[630px] top-[446px] absolute bg-red-600 rounded-[25px]">Bajar</button>
  </div>
  </div>

  <div class="w-[1440px] h-[1024px] bg-white flex-col justify-end items-start gap-[11px] inline-flex">
    <div class="w-[1440px] h-[311px] relative flex-col justify-start items-start flex">
    <div class="w-[513px] h-[93px] text-center text-cyan-900 text-[50px] font-medium font-['Inter']">Filosofía Institucional</div>
    <div class="w-[513px] h-[0px] border-2 border-red-600"></div>
    <div class="w-[1146px] h-[126px] text-center text-blue-950 text-2xl font-medium font-['Inter']">Somos una Institución pionera en la enseñanza del idioma inglés, con más de 60 años de experiencia en el campo educativo en la provincia del Azuay. Ofrecemos a nuestros estudiantes una educación cristocéntrica basada en un modelo educativo clásico, con valores bíblicos y teniendo a Dios como pilar de fe y sustento académico y científico.</div>
    </div>
    <div class="w-[1440px] h-[713px] relative flex-col justify-start items-start flex">
      <div class="w-[513px] h-[93px] text-center text-cyan-900 text-[50px] font-medium font-['Inter']">Galería de imagenes</div>
    <div class="w-[513px] h-[0px] border-2 border-red-600"></div>
    <div class="w-[898px] h-[500px] relative">
    <div class="w-[216px] h-[216px] left-[27px] top-[250px] absolute bg-zinc-300" style="background-image: url('assets/im2.jpg');"></div>
    <div class="w-[216px] h-[216px] left-[338px] top-[261px] absolute bg-zinc-300" style="background-image: url('assets/im3.jpg');"></div>
    <div class="w-[216px] h-[216px] left-[661px] top-[261px] absolute bg-zinc-300" style="background-image: url('assets/im5.jpg');"></div>
    <div class="w-[216px] h-[216px] left-[661px] top-0 absolute bg-zinc-300" style="background-image: url('assets/im7.jpg');"></div>
    <div class="w-[216px] h-[216px] left-[341px] top-0 absolute bg-zinc-300" style="background-image: url('assets/im10.jpg');"></div>
    <div class="w-[216px] h-[216px] left-[26px] top-0 absolute"style="background-image: url('assets/im1.jpg');"></div>
    </div>
    </div>
    </div>